@using ShopLapTop.Areas.Admin.Models;
@{
    ViewBag.Title = "chitietsanpham";
    Layout = "~/Views/Shared/_KhachhangLayout.cshtml";
}
@section search{
        <div class="visible-md visible-lg search">
            @using (Html.BeginForm("tim", "Product", FormMethod.Post))
            {
                <input type="text" value="" name="txttim" placeholder="search...">
                <input type="submit" value="">
            }
            <a href="#" style="text-decoration:none; font-family:Roboto;">TÌM KIẾM NÂNG CAO</a>
        </div>

    }
@section search2{
        <div class="visible-xs search">
            @using (Html.BeginForm("tim", "Product", FormMethod.Post))
            {
                <input type="text" value="" name="txttim" placeholder="search...">
                <input type="submit" value="">
            }
            <a href="#" style="text-decoration:none; font-family:Roboto;">TÌM KIẾM NÂNG CAO</a>
        </div>

    }
<div class="women_main">
<!-- start content -->
    <div class="row single">
        <div class="col-md-9 det">
            <div class="single_left">
                <div class="grid images_3_of_2" style="width:196px;height:196px;margin-left:auto;margin-right:auto;">
                    <ul id="etalage" style="width:196px;height:196px;margin-left:auto;margin-right:auto;">
                       @{
                           List<Sanpham> kq = (List<Sanpham>)(ViewBag.kq);
                       }
                        @foreach (var item in kq)
                        {
                            <li>
                                <a href="optionallink.html">
                                    @*<img class="etalage_thumb_image" src="~/Assets/hinhanh/sanpham/@item.Hinh"  style="width:100%"  />*@
                                    <img class="etalage_source_image" src="~/Assets/hinhanh/sanpham/@item.Hinh" style="width:100%" />
                                </a>
                            </li>


                        @*<li>
                            <img class="etalage_thumb_image" src="~/Assets/hinhanh/sanpham/@item.Hinh" class="img-responsive" />
                            <img class="etalage_source_image" src="~/Assets/hinhanh/sanpham/@item.Hinh" class="img-responsive" title="" />
                        </li>
                        <li>
                            <img class="etalage_thumb_image" src="~/Assets/hinhanh/sanpham/@item.Hinh" class="img-responsive" />
                            <img class="etalage_source_image" src="~/Assets/hinhanh/sanpham/@item.Hinh" class="img-responsive" />
                        </li>
                        <li>
                            <img class="etalage_thumb_image" src="~/Assets/hinhanh/sanpham/@item.Hinh" class="img-responsive" />
                            <img class="etalage_source_image" src="~/Assets/hinhanh/sanpham/@item.Hinh" class="img-responsive" />
                        </li>*@
                        }
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="desc1 span_3_of_2">
                    <p>Thông số kỹ thuật</p>
                    <table border="1">
                        @foreach (var item in kq)
                        {
                            <tr>
                                <td>Model</td><td>@item.TenSP</td>                              
                            </tr>
                            <tr>
                                <td>CPU</td>
                                <td>
                                    @item.cpu
                                </td>
                                
                            </tr>
                            <tr>
                                <td>RAM</td>
                                <td>@item.ram</td>
                            </tr>
                            <tr>
                                <td>Ổ cứng</td>
                                <td>
                                    @{ 
                                        if (item.ssd != null && item.hdd != null)
                                        {
                                            @(item.ssd + item.hdd);
                                        }
                                        else if (item.ssd == null)
                                        {
                                            @item.hdd;
                                        }
                                        else if (item.hdd == null)
                                        {
                                            @item.ssd;
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>CD/DVD</td>
                                <td>@item.cd_dvd</td>
                            </tr>
                            <tr>
                                <td>Card VGA</td>
                                <td>@item.vga</td>
                            </tr>
                            <tr>
                                <td>Màn hình</td>
                                <td>@item.manhinh</td>
                            </tr>
                            <tr>
                                <td>Kết nối</td>
                                <td>@item.ketnoi</td>
                            </tr>
                            <tr>
                                <td>Tích hợp</td>
                                <td>@item.tichhop</td>
                            </tr>
                            <tr>
                                <td>Trọng lượng</td>
                                <td>@item.trongluong</td>
                            </tr>
                            <tr>
                                <td>Pin</td>
                                <td>@item.pin</td>
                            </tr>
                            <tr>
                                <td>Hệ điều hành</td>
                                <td>@item.hdh</td>
                            </tr>
                        }
                       
                    </table>                                     
                    @*<div class="btn_form">
                        <a href="checkout.html">buy</a>
                    </div>*@
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="single-bottom1">
                <h6>Thông tin chi tiết</h6>
                <p class="prod-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option</p>
            </div>
            @*<div class="single-bottom2">              
            </div>*@
    </div>
        <div class="col-md-3" style="margin-top:5%;">
       
                <table cellpadding="2" cellspacing="2">
                    @foreach (var item in kq)
                    {

                        <tr>
                            <td><span>Giá: </span></td>
                           
                                @if (item.Giaban == item.Giakhuyenmai)
                                {
                                    <td><span style="color:red;">@String.Format("{0:0,0}đ",item.Giaban)</span></td>
                                }
                                else
                                {
                                     <td><span style="color:red;text-decoration:line-through">@String.Format("{0:0,0}đ",item.Giaban) </span></td>
                          
                                    <td><span style="color:red;margin-left:9px;">@String.Format("{0:0,0}đ",item.Giakhuyenmai)</span></td>
                                }                                                 
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    }
                </table>
            <div class="btn_form">
                @foreach (var item in kq)
                {
                    <a href="~/GioHang/Them?Ma=@item.MaSP">Mua</a>
                }
                @*<a href="checkout.html">Mua</a>*@
               
            </div>
        </div>  
            <div class="clearfix"></div>

        </div>
    @foreach (var item in kq)
    {
        <div class="panel-footer">
            @*<button type="button" class="btn btn-default Comment" data-id="@item.MaSP" value="Comment">
               <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comment
            </button>*@
            <div class="Comment" data-id="@item.MaSP"></div>
        </div>

        <div id="@string.Format("{0}_{1}","commentsBlock",item.MaSP)" style="border:1px solid #f1eaea;background-color:#eaf2ff;" >

            <div class="AddComment" style="margin-left:30%;margin-bottom:5px;margin-top:8px;">
                <textarea type="text"  id="@string.Format("{0}_{1}","comment",item.MaSP)" class="form-control" placeholder="Add a Comment ..." style="display:inline;" ></textarea>
                <button type="button" class="btn btn-default addComment" data-id="@item.MaSP"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
            </div>

        </div>
    }
    @*<div>
        <textarea type="" name="name" value="" style="width:500px;height:100px;" placeholder="Mời bạn nhập Bình luận..."></textarea>
        <br />
        <input class="btn btn-success" type="submit" style="width:auto;" value="Comment"/>
    </div>*@
<!-- end content -->
 </div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // click Comment
            // $('.Comment').on('click', function () {
            //$(window).onload(function () { })
            $('.Comment').show(function(){

                //var id = $(this).attr("data-id"); // lấy giá trị data-id trong thẻ <button>
                var id = $('.Comment').attr('data-id');
                var allCommentsArea = $('<div>').addClass('allComments_' + id);

                //this function that allow us to get all comments related to post id
                // hàm function để lấy những comment liên quan đến sản phẩm
                $.ajax({
                    //type: 'GET',
                    type:'GET',
                    url: '@Url.Action("GetListComment", "Comments")',
                    data: { MaSP: id },
                    success: function (response) {
                        // sau khi trả về thành công thì kiểm tra xem có class allComments nào tồn tại trước đó không
                        // nếu có thì xóa đi để thêm dữ liệu 


                        //if ($('div').hasClass('allComments_' + id + ''))
                        //{
                        //    $('div [class=allComments_' + id + ']').remove();
                        //}

                        allCommentsArea.html(response);
                        allCommentsArea.prependTo('#commentsBlock_' + id);
                    },
                    error: function (response) {
                        alert('Sorry: Comments cannot be loaded!');
                    }
                })

            });

            // Add New Comment
            // sự kiện khi bấm vào nút button class addcComment
            $('.addComment').on('click', function () {
                //var ProductID = $(this).attr('data-id');
                //var MaSP = $(".addComment").attr('data-id');
                var MaSP = $(this).attr('data-id');
                var Content = $("#comment_" + MaSP).val();
                var dateTimeNow = new Date();

                var model = {
                    Content: Content,
                    Datetime: dateTimeNow.toLocaleString()
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddComment", "Comments")',
                    @*url: '@Url.RouteUrl(new { action="AddComment",controller="Comments"})',*@
                    //url:'/Comments/AddComment',
                    data: { model, MaSP},
                    success: function (response) {
                        $('div [class=allComments_' + MaSP + ']').remove();
                        var allCommentsArea = $('<div>').addClass('allComments_' + MaSP);
                        allCommentsArea.html(response);
                        allCommentsArea.prependTo('#commentsBlock_' + MaSP);
                        
                    },
                    complete: function () {
                        //$('#comment').val("");

                        //$('#comment').val("");
                        $("#comment_" + MaSP).val("");
                      
                    },
                    error: function () {
                        alert("Sorry :Add Comment Error");
                    }
                });
                // });
            });
            (window.jQuery);
            //jQuery("time.timeago").timeago();
        });
        $(document).ready(function () {
            $("#comment").focus();
            $('#comment').val("");
        })
    </script>
    }



