@*@using ShopLapTop.Areas.Admin.Models*@
<ul class="megamenu skyblue">
    <li class="active grid"><a class="color1" href="~/TrangChu/Index">Home</a></li>
    <li class="grid">
        <a class="color2" href="#">ASUS</a>
        <div class="megapanel">
            <div class="row">
                <div class="col1">
                    <div class="h_nav">
                        @*@{
                            List<Loai> kq = (List<Loai>)(ViewBag.loai);                       
                        }*@
                        <h4>DANH MỤC SẢN PHẨM</h4>
                        <ul>
                            @*@foreach (var item in kq)
                            {
                                 <li class="col-xs-3"><a href="~/Type/sanphamtheoloai?loai=@item.Maloai">Laptop Asus @item.Tenloai</a></li>                         
                            }*@
                           
                                <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=9000000&ten=asus">Dưới 10.000.000đ</a></li>
                                <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=10000000&den=15000000&ten=asus">Từ 10.000.000đ đến 15.000.000đ</a></li>
                                <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=15000000&den=20000000&ten=asus">Từ 15.000.000đ đến 20.000.000đ</a></li>
                                <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=20000000&den=25000000&ten=asus">Từ 20.000.000đ đến 25.000.000đ</a></li>
                                <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?den=26000000&ten=asus">Trên 25.000.000đ</a></li>
                        </ul>
                    </div>
                </div>
                @*<div class="col1">
                    <div class="h_nav">
                        <h4>GIÁ</h4>
                        <ul>
                            <li class="col-xs-6"><a href="women.html">Pools&Tees</a></li>
                            <li class="col-xs-6"><a href="women.html">shirts</a></li>
                            <li class="col-xs-6"><a href="women.html">shorts</a></li>
                          
                        </ul>
                    </div>
                </div>*@
            </div>

        </div>
    </li>
    <li>
        <a class="color4" href="#">HP</a>
        <div class="megapanel">
            <div class="row">
                <div class="col1">
                    <div class="h_nav">
                        @*@{
                    List<Loai> kq = (List<Loai>)(ViewBag.loai);
                }*@
                        <h4>DANH MỤC SẢN PHẨM</h4>
                        <ul>
                            @*@foreach (var item in kq)
                    {
                         <li class="col-xs-3"><a href="~/Type/sanphamtheoloai?loai=@item.Maloai">Laptop Asus @item.Tenloai</a></li>
                    }*@

                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=9000000&ten=asus">Dưới 10.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=10000000&den=15000000&ten=asus">Từ 10.000.000đ đến 15.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=15000000&den=20000000&ten=asus">Từ 15.000.000đ đến 20.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=20000000&den=25000000&ten=asus">Từ 20.000.000đ đến 25.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?den=26000000&ten=asus">Trên 25.000.000đ</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </li>
    <li>
        <a class="color5" href="#">DELL</a>
        <div class="megapanel">
            <div class="row">
                <div class="col1">
                    <div class="h_nav">
                        @*@{
                    List<Loai> kq = (List<Loai>)(ViewBag.loai);
                }*@
                        <h4>DANH MỤC SẢN PHẨM</h4>
                        <ul>
                            @*@foreach (var item in kq)
                    {
                         <li class="col-xs-3"><a href="~/Type/sanphamtheoloai?loai=@item.Maloai">Laptop Asus @item.Tenloai</a></li>
                    }*@

                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=9000000&ten=asus">Dưới 10.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=10000000&den=15000000&ten=asus">Từ 10.000.000đ đến 15.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=15000000&den=20000000&ten=asus">Từ 15.000.000đ đến 20.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=20000000&den=25000000&ten=asus">Từ 20.000.000đ đến 25.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?den=26000000&ten=asus">Trên 25.000.000đ</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </li>
    <li>
        <a class="color6" href="#">MSI</a>
        <div class="megapanel">
            <div class="row">
                <div class="col1">
                    <div class="h_nav">
                        @*@{
                    List<Loai> kq = (List<Loai>)(ViewBag.loai);
                }*@
                        <h4>DANH MỤC SẢN PHẨM</h4>
                        <ul>
                            @*@foreach (var item in kq)
                    {
                         <li class="col-xs-3"><a href="~/Type/sanphamtheoloai?loai=@item.Maloai">Laptop Asus @item.Tenloai</a></li>
                    }*@

                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=9000000&ten=asus">Dưới 10.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=10000000&den=15000000&ten=asus">Từ 10.000.000đ đến 15.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=15000000&den=20000000&ten=asus">Từ 15.000.000đ đến 20.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=20000000&den=25000000&ten=asus">Từ 20.000.000đ đến 25.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?den=26000000&ten=asus">Trên 25.000.000đ</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </li>

    <li>
        <a class="color7" href="#">ACER</a>
        <div class="megapanel">
            <div class="row">
                <div class="col1">
                    <div class="h_nav">
                        @*@{
                    List<Loai> kq = (List<Loai>)(ViewBag.loai);
                }*@
                        <h4>DANH MỤC SẢN PHẨM</h4>
                        <ul>
                            @*@foreach (var item in kq)
                    {
                         <li class="col-xs-3"><a href="~/Type/sanphamtheoloai?loai=@item.Maloai">Laptop Asus @item.Tenloai</a></li>
                    }*@

                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=9000000&ten=asus">Dưới 10.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=10000000&den=15000000&ten=asus">Từ 10.000.000đ đến 15.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=15000000&den=20000000&ten=asus">Từ 15.000.000đ đến 20.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=20000000&den=25000000&ten=asus">Từ 20.000.000đ đến 25.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?den=26000000&ten=asus">Trên 25.000.000đ</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </li>

    <li>
        <a class="color8" href="#">LENOVO</a>
        <div class="megapanel">
            <div class="row">
                <div class="col1">
                    <div class="h_nav">
                        @*@{
                    List<Loai> kq = (List<Loai>)(ViewBag.loai);
                }*@
                        <h4>DANH MỤC SẢN PHẨM</h4>
                        <ul>
                            @*@foreach (var item in kq)
                    {
                         <li class="col-xs-3"><a href="~/Type/sanphamtheoloai?loai=@item.Maloai">Laptop Asus @item.Tenloai</a></li>
                    }*@

                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=9000000&ten=asus">Dưới 10.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=10000000&den=15000000&ten=asus">Từ 10.000.000đ đến 15.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=15000000&den=20000000&ten=asus">Từ 15.000.000đ đến 20.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?tu=20000000&den=25000000&ten=asus">Từ 20.000.000đ đến 25.000.000đ</a></li>
                            <li class="col-xs-3"><a href="~/Type/sanphamtheoloaiasus?den=26000000&ten=asus">Trên 25.000.000đ</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </li>
    <li>
        <a class="color9" href="#" style="font-family: Roboto;">LIÊN HỆ</a>
        <div class="megapanel">
            <div class="row">
                @*<div class="col2">
                    <div class="h_nav">
                        <h4>Clothing</h4>
                        <ul>
                            <li><a href="women.html">new arrivals</a></li>
                            <li><a href="women.html">men</a></li>
                            <li><a href="women.html">women</a></li>
                                                   
                        </ul>
                    </div>
                </div>
                <div class="col2">
                    <div class="h_nav">
                        <h4>kids</h4>
                        <ul>
                            <li><a href="women.html">trends</a></li>
                            <li><a href="women.html">sale</a></li>
                            <li><a href="women.html">style videos</a></li>
                          
                           
                        </ul>
                    </div>
                </div>
                <div class="col2">
                    <div class="h_nav">
                        <h4>Bags</h4>
                        <ul>
                            <li><a href="women.html">trends</a></li>
                            <li><a href="women.html">sale</a></li>
                            <li><a href="women.html">style videos</a></li>
                         
                           
                        </ul>
                    </div>
                </div>*@

            </div>
            <!-- <div class="row">
                <div class="col2"></div>
                <div class="col1"></div>
                <div class="col1"></div>
                <div class="col1"></div>
                <div class="col1"></div>
            </div> -->
        </div>
    </li>
</ul>